*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: var(--color-white);
	font-size: 14px;
	line-height: 120%;
	font-weight: normal;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

button{
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

span{
	color: var(--color-yellow);
}

:root{
	--color-yellow: #FFDE00;
	--color-dark-yellow:#EACC00;
	--color-white: #fff;
	--color-violent: #C9C3F3;
	--color-orange: #FF885E;
}

.container {
	max-width: 1270px;
	min-width: 360px;
	margin: 0 auto;
	padding: 0 23px;
}

.hero {
	background: linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
	// height: 800px;
	position: relative;
	overflow: hidden;

	&:after{
		position: absolute;
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		bottom: 0;
		width: 100%;
		height: 153px;
		background-image: url('../img/triangle.svg');
		z-index: 20;
	}

	&__block{
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;

		&:before{
			position: absolute;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			background-image: url('../img/Dots.svg');
			width: 113px;
			height: 89px;
			top: -67px;
			z-index: 2;
		}
	}

	&__content {
		max-width: 614px;
		width: 100%;
		z-index: 3;
		position: relative;
		flex-shrink: 0;
		padding-bottom: 140px;

		&:after{
			position: absolute;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			background-image: url('../img/X.svg');
			width: 30px;
			height: 30px;
			left: -160px;
    		bottom: 60px;
		}

		&:before{
			position: absolute;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			background-image: url('../img/romb.svg');
			width: 45px;
			height: 45px;
			left: -110px;
			top: -20px;
		}
	}

	&__image{
		position: relative;
		padding-top: 10px;

		&:before{
			position: absolute;
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			z-index: 1;
			top: 0;
			left: 0;
			background-image: url('../img/Second-plan.png');
			width: 750px;
			height: 615px;
			top: -50px;
    		left: -60px;
		}

		img{
			position: relative;
			z-index: 4;
			left: 30px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 120%;
		margin-bottom: 60px;
	}

	&__text {
		display: grid;
    	grid-template-columns: 1fr 1fr;
		
		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&-button {
			width: 266px;
			height: 60px;
			left: 348px;
			top: 563px;
			background: #FFDE00;
			box-shadow: 0px 0px 30px rgb(255 222 0 / 35%), inset 0px -2px 2px rgb(0 0 0 / 25%);
			border-radius: 4px;
			font-weight: 600;
			font-size: 16px;
			line-height: 130%;
			letter-spacing: 0.01em;

			&:hover{
				background-color: var(--color-dark-yellow);
			}
		}

		// &-right{
		// }

		&-top {
			position: relative;
			margin-bottom: 32px;

			&:before{
				position: absolute;
				content: '';
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			
				width: 3px;
				height: 100%;
				background-color: var(--color-orange);
				left: -16px;
				top: 0;
			}
		}

		&-title {
			font-size: 24px;
			margin-bottom: 16px;
			color: var(--color-violent);
		}
		
		// &-list {
			
		// }

		&-item {

			&:not(:last-child){
				margin-bottom: 16px;
			}
		}

		&-bottom {
			position: relative;

			&:before{
				position: absolute;
				content: '';
				width: 3px;
				height: 100%;
				background-color: var(--color-orange);
				left: -16px;
				top: 0;
			}
		}
	}
	
	&__price {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-text {
			font-weight: bold;
			font-size: 24px;
			line-height: 120%;
			margin-bottom: 15px;
		}

		&-cost {
			display: flex;	
			align-items: center;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			& .pulse{
				position: relative;
				width: 62px;
				height: 62px;
				background-color: var(--color-orange);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				&:before,
				&:after{
					position: absolute;
					content: '';
					top: -10px;
					left: -10px;
					right: -10px;
					bottom: -10px;
					border: 1px solid var(--color-orange);
					border-radius: 50%;
					opacity: 1;
					animation: pulseCost 2.4s  ease-in-out infinite;
				}

				&:after{
					animation-delay: 1.2s;
				}
				
				@keyframes pulseCost{
					0%{
						opacity: 0;
						transform: scale(0.6);
					}
					50%{
						opacity: 1;
					}
					100%{
						opacity: 0;
						transform: scale(1.2);
					}
				}
			}

			& span{
				color: var(--color-white);
				z-index: 2;
			}			
		}
	}
}

.header {
	padding: 23px 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 82px;

	&__logo {

		&-link {
			display: flex;
			align-items: center;
		}

		&-img {
			margin-right: 8px;
		}
		
		&-text{
			font-weight: bold;
			font-size: 24px;
			line-height: 120%;
			color: var(--color-white);
		}
	}
	
	.header__list {
		display: flex;
	}
	.header__list-item {

		&:not(:last-child) {
			margin-right: 64px;
		}
	}
	// .header__buttons {
	// }
	.header__button {
		width: 161px;
		height: 50px;
		border: 1px solid var(--color-yellow);
		box-sizing: border-box;
		border-radius: 4px;
		font-weight: 600;
		font-size: 14px;
		line-height: 123%;

		&:hover{
			background-color: var(--color-yellow);
		}
	}
}

.list-item {
	text-align: center;

	&__title {
		font-weight: bold;
	}
	
	&__subtitle {
		color: var(--color-violent);
	}
}

@media (max-width: 1150px){
	.hero__title {
		font-size: 42px;
	}
	.hero__text-button {
		width: 240px;
		font-size: 15px;
	}

	.hero__text-bottom::before,
	.hero__text-top:before {
		left: -15px;
	}

	.hero__image{
		padding-top: 35px;
	}

	.hero__image:before {
		left: 0px;
	}

	.header{
		.header__list-item:not(:last-child) {
			margin-right: 20px;
		}
	}
}

@media (max-width: 940px){
	.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'logo buttons'
		'header-list header-list';

		&__logo{
			grid-area: logo;
		}
		&__list{
			grid-area: header-list;
			justify-content: center;
		}
		&__buttons{
			grid-area: buttons;
			display: flex;
			justify-content: flex-end;
		}
	}

	.hero__content{
		max-width: 500px;
		padding-bottom: 80px;
		flex-shrink: 0.5;
	}

	.hero__title {
		font-size: 38px;
	}

	.hero__text {
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 1fr;

		&-left {
			align-items: start;
			margin-bottom: 30px;
		}

		&-right{
			margin-left: 15px;
		}
	}


	.hero__image {
		padding-top: 130px;

		&:before {
			opacity: 0;
		}
	}

	.hero__price{
		flex-direction: row;
		align-items: center;
		
		&-text{
			margin-bottom: 0;
			margin-right: 25px;
		}
	}

}

@media (max-width: 760px){
	.hero__title {
		font-size: 28px;
	}
	.hero__block:before{
		opacity: 0;
	}
	.hero__price {
		margin-bottom: 20px;

		&-text{
			white-space: nowrap;
		}
	}

	.hero__image{
		padding-top: 150px;
	}
}

@media (max-width: 640px){
	.container{
		padding: 0 8px;
	}

	.header{
		padding: 13px 0;
		margin-bottom: 40px;
		grid-template-rows: 1fr 2fr;

		.header__list{
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 10px;
	
			&-item{
				margin-top: 0px;
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom:20px;
			}
		}
	}

	.hero:after {
		height: 50px;
	}

	.hero__block{
		flex-direction: column;
	}

	.hero__content{
		width: 100%;
		max-width: 640px;
		padding-bottom: 0px;
	}

	.hero__title {
		font-size: 24px;
		margin-bottom: 12px;
		text-align: center;
	}

	.hero__text {
		grid-template-rows: 1fr 1fr;
	}

	.hero__text-left {
		align-items: center;
		margin-bottom: 48px;
	}

	.hero__image {
		padding-top: 0px; 
		margin-top: -230px;

		& img {
			left: 220px;
			top: -30px;
			width: 300px;
		}
	}
}

